<section class="latest">
  <div  class="latest_header">
    <span>LATEST FEEDBACKS</span>
    <span>FROM OUR CUSTOMERS</span>
  </div>

  <div class="latest_left">

    <div class="det_lat">
      <div>
        <img src="../../../../assets/img/user-1.jpg" alt="1" class="img_lat">
      </div>

      <div class="user_det">
        <p>
          Candy canes topping dessert jelly beans pie jelly beans sweet roll.
          Toffee cotton candy cake chocolate cake.
        </p>
        <div class="cont-det">
          <p class="name_det">Candy Miles</p>
          <p class="date_det">22 september 2019</p>
        </div>
      </div>

    </div>


    <div class="det_lat">
      <div>
        <img src="../../../../assets/img/user-2.jpg" alt="1" class="img_lat">
      </div>
      <div class="user_det">
        <p>
          Candy canes topping dessert jelly beans pie jelly beans sweet roll.
          Toffee cotton candy cake chocolate cake.
        </p>
        <div class="cont-det">
          <p class="name_det">Candy Miles</p>
          <p class="date_det">22 september 2019</p>
        </div>
      </div>
    </div>


    <div class="det_lat">
      <div>
        <img src="../../../../assets/img/user-3.jpg" alt="1" class="img_lat">
      </div>
      <div class="user_det">
        <p>
          Candy canes topping dessert jelly beans pie jelly beans sweet roll.
          Toffee cotton candy cake chocolate cake.
        </p>
        <div class="cont-det">
          <p class="name_det">Candy Miles</p>
          <p class="date_det">22 september 2019</p>
        </div>
      </div>
    </div>

  </div>

  <div class="latest_right">
    <div class="det_lat">
      <div>
        <img src="../../../../assets/img/user-4.jpg" alt="1" class="img_lat">
      </div>
      <div class="user_det">
        <p>
          Candy canes topping dessert jelly beans pie jelly beans sweet roll.
          Toffee cotton candy cake chocolate cake.
        </p>
        <div class="cont-det">
          <p class="name_det">Candy Miles</p>
          <p class="date_det">22 september 2019</p>
        </div>
      </div>
    </div>


    <div class="det_lat">
      <div>
        <img src="../../../../assets/img/user-5.jpg" alt="1" class="img_lat">
      </div>
      <div class="user_det">
        <p>
          Candy canes topping dessert jelly beans pie jelly beans sweet roll.
          Toffee cotton candy cake chocolate cake.
        </p>
        <div class="cont-det">
          <p class="name_det">Candy Miles</p>
          <p class="date_det">22 september 2019</p>
        </div>
      </div>

    </div>


    <div class="det_lat">
      <div>
        <img src="../../../../assets/img/user-6.jpg" alt="1" class="img_lat">
      </div>
      <div class="user_det">
        <p>
          Candy canes topping dessert jelly beans pie jelly beans sweet roll.
          Toffee cotton candy cake chocolate cake.
        </p>
        <div class="cont-det">
          <p class="name_det">Candy Miles</p>
          <p class="date_det">22 september 2019</p>
        </div>
      </div>
    </div>

  </div>
</section>
