.latest {
  height: 826px;
  display: grid;
  grid-template-rows: 324px repeat(3,90px) 1fr;
  grid-template-columns: 283px 550px 253px 525px 1fr;
  grid-row-gap: 30px;
}

.latest_header {
  grid-row: 1/2;
  grid-column: 1/3;
  font: bold 54px/54px 'BebasNeueBold', sans-serif;
  padding-left: 283px;
  align-self: center;
  padding-right: 130px;
}

.latest_left {
  grid-row: 2/5;
  grid-column: 2/3;
  padding-left: 10px;
}

.latest_right {
  grid-row: 2/5;
  grid-column: 4/5;
}

.img_lat {
  width: 89px;
  height: 89px;
  border-radius: 50%;
  box-sizing: content-box;
  display: block;
}

.det_lat {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.user_det {
  display: flex;
  height: 89px;
  flex-direction: column;
  padding-left: 26px;
  align-content: space-between;
}


.name_det {
  font: Bold 16px/19px 'Raleway', sans-serif;
  color: #EA2340;
}

.date_det {
  padding-left: 34px;
  font: normal 13px/24px 'Raleway', sans-serif;
  color: #06263998;
}

.cont-det{
  display: flex;
  flex-direction: row;
  padding-top: 15px;
}
