<agm-map [latitude]="location.lat" [longitude]="location.lng" [zoom]="location.zoom">
  <agm-marker-cluster [styles]="clusterStyles">
    <agm-marker *ngFor="let marker of markers" [latitude]="marker.latitude" [longitude]="marker.longitude"></agm-marker>
  </agm-marker-cluster>
</agm-map>
<!--<agm-map-->
<!--  [latitude]="location.lat"-->
<!--  [longitude]="location.lng"-->
<!--  [zoom]="location.zoom"-->


<!--&gt;-->
<!--  <agm-marker-->
<!--    [latitude]="location.marker.lat"-->
<!--    [longitude]="location.marker.lng"-->

<!--  ></agm-marker>-->
<!--</agm-map>-->

<!--[disableDefaultUI]="true"-->
<!--[zoomControl]="true"-->
<!--[fitBounds]='location.viewport'-->


<!--[markerDraggable]="location.marker.draggable"-->
<!--(dragEnd)='markerDragEnd($event)'-->

