

<div class="find_car">

  <div class="find-form">

    <div class="find-label">
      <span class="find-label-V">Find your car now!</span>
      <span class="find-label-N">Type your data and hit Yalla!</span>
    </div>

    <div class="find-form-input">
      <label>
        <input placeholder="Location">
      </label>

      <label>
        <input  placeholder="From">
      </label>

      <label>
        <input  placeholder="Till">
      </label>
    </div>

    <button class="sub-find">
      Submit
    </button>

  </div>
</div>

<app-never></app-never>
<app-most></app-most>
<app-latest></app-latest>
