

<div class="find_car">

  <form
    class="find-form"
    #ngForm = ngForm
    (ngSubmit)="onSubmit(ngForm)"
    >

      <div class="find-label">
        <span class="find-label-V">Find your car now!</span>
        <span class="find-label-N">Type your data and hit Yalla!</span>
      </div>

      <div class="find-form-input">
        <label for="location"></label>
        <div class="d-block">
          <div class="d-text" style="width: 75px">
            Location
          </div>
          <input
            class="d-input"
            id="location"
            name="city"
            type="text"
            ngModel
            required
          >
        </div>

        <label for="from"></label>
        <div class="d-block">
          <div class="d-text" style="width: 40px">
            From
          </div>
          <input
            class="d-input"
            id="from"
            type="datetime-local"
            [ngModel]="startDate | date: 'yyyy-MM-ddThh:mm'"
            (ngModelChange)="startDate = $event"
            name="start_date"
            required
          >
        </div>

        <label for="till"></label>
        <div class="d-block">
          <div class="d-text" style="width: 40px">
            Till
          </div>
          <input
            class="d-input"
            id="till"
            type="datetime-local"
            [ngModel]="endDate | date: 'yyyy-MM-ddThh:mm'"
            (ngModelChange)="endDate = $event"
            name="end_date"
            required
          >
        </div>
      </div>

      <button class="sub-find">
        Submit
      </button>

  </form>
</div>

<app-never></app-never>
<app-most></app-most>
<app-latest></app-latest>
