

a {
  text-decoration: #5F727E;
}

.find_car {
  height: 745px;
  display: grid;
  grid-template-columns: 609px 1fr;
  grid-template-rows: 143px 379px 1fr;
  background: url("../../../../assets/img/component.png");
}

.find-form {
  display: grid;
  grid-column: 1/2;
  grid-row: 2/3;
  grid-template-rows: 109px repeat(3, 52px) 29px 1fr;
  grid-template-columns: 199px 371px 1fr;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #0000005F;
}

.find-label {
  grid-column: 2/3;
  grid-row: 1/2;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 25px;
}

.find-label-V {
  font:bold 32px/59px Raleway;
  color: #EA2340;
  max-height: 42px;
}

.find-label-N {
  font: normal 16px/24px  'Raleway', sans-serif;
  color: #06263998;
}

.find-form-input{
  grid-column: 2/3;
  grid-row: 2/5;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sub-find {
  grid-column: 2/3;
  grid-row: 6/7;
  width: 188px;
  height: 91px;
  background: #EA2340 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000052;
  font: Bold 18px 'Raleway', sans-serif;
  color: #FFFFFF;
  margin-left: 7px;
  border-width: 0;
  text-align: center;
}

