

<div class="search">

  <div class="search-find">

    <div class="search-find-v">

      <div class="find-1">
        <i class="fas fa-map-marker-alt" ></i>
        <span class="find-1-text">Map</span>
      </div>

      <div class="find-2">
        <a (click)="setFilters()"  class="fa fa-sliders-h" ></a>
      </div>

      <div class="find-3">
        <a (click)="searchPrice()" class='fas fa-search'></a>
      </div>

      <div class="find-0"></div>
    </div>

    <div class="search-find-n" >

      <div
        *ngIf="isLoading"
        style="text-align: center"
        class="search-img"
      >
        <app-loading-spinner></app-loading-spinner>
      </div>

      <app-google-maps
        *ngIf="!isLoading"
        [latitude]="pick_up_place.latitude"
        [longitude]="pick_up_place.longitude"
        [markersInput]="markers"
      ></app-google-maps>
<!--      <agm-map-->
<!--        [latitude]="pick_up_place.latitude"-->
<!--        [longitude]="pick_up_place.longitude"-->
<!--        [disableDefaultUI]="true"-->
<!--        [zoomControl]="true"-->
<!--        [zoom]="zoom"-->
<!--      >-->
<!--        <agm-marker-->
<!--          *ngFor="let m of cars; let i = index"-->
<!--          [latitude]="m.pick_up_place.latitude"-->
<!--          [longitude]="m.pick_up_place.longitude"-->
<!--          >-->
<!--        <agm-info-window>-->
<!--          <div>{{m.make}}</div>-->
<!--          <div>{{m.model}}</div>-->
<!--          <div>{{m.year}}</div>-->
<!--          <div style="color: #EA2340">{{m.price_per_day}} $</div>-->
<!--          <a (click)="carDetails(m)" style="color: blue">Details</a>-->
<!--        </agm-info-window>-->
<!--        </agm-marker>-->
<!--      </agm-map>-->
    </div>

  </div>



  <div style="overflow: auto;
    grid-template-rows: repeat(3, 395px)" class="search-img">

    <div class="img-block" *ngFor="let car of cars">

      <div class="img-auto">
        <img
          src="{{car.image_url[0]}}"
          style="height: 309px;
          width: 536px;
          padding-right: 10px"
          (click)="carDetails(car)"
        >
      </div>

      <div class="img-text">
        <div class="img-lab">
          <span class="img-label">{{car.make}} {{car.model}}</span>
          <span class="img-date">{{car.year}}</span>
        </div>

        <div class="img-perDay">
          <span class="img-perDay-dol">$</span>
          <span class="img-perDay-price">{{car.price_per_day}}</span>
          <div class="img-perDay-perDay">
            <span style="margin-right: 3px">PER</span>
            <span>DAY</span>
          </div>
        </div>
      </div>

    </div>

  </div>

</div>
