
<div class="never">

  <div class="kr_pol"></div>

  <div class="never-label">
    <span>NEVER MISTAKEN</span>
    <span>FOR ANYTHING ELSE</span>
  </div>

  <div class="never_text">
    <p>Candy canes topping dessert jelly beans pie jelly beans sweet roll.
      Toffee cotton candy cake chocolate cake. Bonbon gummi bears jelly-o
      bonbon fruitcake tootsie roll cake cookie gingerbread. Icing wafer pie
      pudding ice cream bonbon halvah bonbon topping. Donut halvah tiramisu
      bear claw tart.</p>
  </div>

  <div class="never_aff">
    <span>Affordable prices</span>
    <span>Guaranteed cars</span>
  </div>

  <div class="join">
    <span class="join_text">Join now!</span>
  </div>

</div>
