.never {
  height: 266px;
  background-color: #062639;
  display: grid;
  grid-template-columns: 184px 320px 57px 641px 163px 272px 1fr;
  grid-template-rows: 16px 24px 43px 69px 18px 48px 1fr;
}

.kr_pol {
  grid-row: 2/3;
  grid-column: 1/-1;
  clip-path: polygon(0 0, 1650px 0, 1698px 100%, 0 100%);
  background-color: #EA2340;
}

.never-label {
  font: bold 54px/54px 'BebasNeueBold', sans-serif;
  color: #FFFFFF;
  grid-column: 2/3;
  grid-row: 4/7;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
}

.never_text {
  color: #FFFFFF;
  grid-column: 4/5;
  grid-row: 4/7;
  padding-top: 10px;
}

.never_aff {
  grid-row: 4/5;
  grid-column: 6/7;
  color: #EA2340;
  font: bold 32px/32px Raleway;
  display: flex;
  flex-direction: column;
}

.join {
  grid-row: 6/7;
  grid-column: 6/7;
  background: #EA2340 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000052;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 146px;
}

.join_text {
  font: Bold 18px/59px Raleway;
  color: #FFFFFF;
}
