

.row {
  margin: auto 160px;
  padding: 0 15px;
}

.header {
  max-width: 1920px;
  height: 80px;
  padding-top: 29px;
  background: #062639 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  opacity: 1;
}

.header-div {
  justify-content: space-between;
}

.header-nav {
  text-align: left;
  font:Bold 16px/19px 'Raleway', sans-serif;
  letter-spacing: 0;
  color: #FFFFFF;
  opacity: 1;
}

.header-nav a + a {
  margin-left: 65px;
}
