<header class="header">
  <div class="row d-flex header-div">
    <div class="logo">
      <img src="../../../assets/img/component%20(4).png" alt="ilCarro">
    </div>
    <nav class="header-nav d-flex justify-content-between">
      <a [routerLink]="['/system','search']">Search</a>
      <a [routerLink]="['/system','addCar']">Let the car work</a>
      <a href="#">Terms of use</a>
      <a *ngIf="!isAuthenticated" [routerLink]="['/auth', 'signup']">Sign up</a>
      <a *ngIf="!isAuthenticated" [routerLink]="['/auth', 'login']">Log in</a>
      <a style="cursor: pointer" *ngIf="isAuthenticated" (click)="onLogout()">Logout</a>
    </nav>
  </div>
</header>
