<div class="search">

  <div class="search-find">

    <div class="search-find-v">

      <div class="find-1">
        <i class="fa fa-sliders-h" ></i>
        <span class="find-1-text">Filters</span>
      </div>

      <div class="find-2">
        <i class='fas fa-map-marker-alt'></i>
      </div>

      <div class="find-3">
        <i class='fas fa-search'></i>
      </div>

      <div class="find-0"></div>
    </div>

    <div class="search-find-n">

      <div class="search-label">
        <span class="search-label-text">
          Find your car now!
        </span>
      </div>

      <div class="search-input">

        <label>
          <select name="Make">
            <option value="">Make</option>
          </select>
        </label>

        <label>
          <select name="Model">
            <option value="">Model</option>
          </select>
        </label>

        <label>
          <select name="Year">
            <option value="">Year</option>
          </select>
        </label>

        <label>
          <select name="Engine">
            <option value="">Engine</option>
          </select>
        </label>

        <label>
          <select name="Fuel">
            <option value="">Fuel</option>
          </select>
        </label>

        <label>
          <select name="Transmission">
            <option value="">Transmission</option>
          </select>
        </label>

        <label>
          <select name="WD">
            <option value="">WD</option>
          </select>
        </label>

        <label>
          <select name="Horsepower">
            <option value="">Horsepower</option>
          </select>
        </label>

        <label>
          <select name="Fuel consumption">
            <option value="">Fuel consumption</option>
          </select>
        </label>

      </div>

    </div>

  </div>

  <div style="overflow: auto" class="search-img">

    <div class="img-block">

      <div class="img-auto">
        <img src="../../../../assets/img/azlk.png">
      </div>

      <div class="img-text">
        <div class="img-lab">
          <span class="img-label">MERCEDES-BENZ G-CLASS</span>
          <span class="img-date">2019</span>
        </div>

        <div class="img-perDay">
          <span class="img-perDay-dol">$</span>
          <span class="img-perDay-price">180</span>
          <div class="img-perDay-perDay">
            <span style="margin-right: 3px">PER</span>
            <span>DAY</span>
          </div>
        </div>
      </div>

    </div>

    <div class="img-block">

      <div class="img-auto">
        <img src="../../../../assets/img/zaz.png">
      </div>

      <div class="img-text">
        <div class="img-lab">
          <span class="img-label">TESLA MODEL X</span>
          <span class="img-date">2018</span>
        </div>

        <div class="img-perDay">
          <span class="img-perDay-dol">$</span>
          <span class="img-perDay-price">180</span>
          <div class="img-perDay-perDay">
            <span style="margin-right: 3px">PER</span>
            <span>DAY</span>
          </div>
        </div>
      </div>

    </div>

    <div class="img-block">

      <div class="img-auto">
        <img src="../../../../assets/img/mb.png">
      </div>

      <div class="img-text">
        <div class="img-lab">
          <span class="img-label">MERCEDES-BENZ G-CLASS</span>
          <span class="img-date">2019</span>
        </div>
        <div class="img-perDay">
          <span class="img-perDay-dol">$</span>
          <span class="img-perDay-price">180</span>
          <div class="img-perDay-perDay">
            <span style="margin-right: 3px">PER</span>
            <span>DAY</span>
          </div>
        </div>
      </div>

    </div>

    <div class="img-block">

      <div class="img-auto">
        <img src="../../../assets/img/gaz.png">
      </div>

      <div class="img-text">
        <div class="img-lab">
          <span class="img-label">TESLA MODEL X</span>
          <span class="img-date">2018</span>
        </div>
        <div class="img-perDay">
          <span class="img-perDay-dol">$</span>
          <span class="img-perDay-price">180</span>
          <div class="img-perDay-perDay">
            <span style="margin-right: 3px">PER</span>
            <span>DAY</span>
          </div>
        </div>
      </div>

    </div>

    <div class="img-block">

      <div class="img-auto">
        <img src="../../../../assets/img/azlk.png">
      </div>

      <div class="img-text">
        <div class="img-lab">
          <span class="img-label">MERCEDES-BENZ G-CLASS</span>
          <span class="img-date">2019</span>
        </div>
        <div class="img-perDay">
          <span class="img-perDay-dol">$</span>
          <span class="img-perDay-price">180</span>
          <div class="img-perDay-perDay">
            <span style="margin-right: 3px">PER</span>
            <span>DAY</span>
          </div>
        </div>
      </div>

    </div>

    <div class="img-block">

      <div class="img-auto">
        <img src="../../../../assets/img/zaz.png">
      </div>

      <div class="img-text">
        <div class="img-lab">
          <span class="img-label">TESLA MODEL X</span>
          <span class="img-date">2018</span>
        </div>
        <div class="img-perDay">
          <span class="img-perDay-dol">$</span>
          <span class="img-perDay-price">180</span>
          <div class="img-perDay-perDay">
            <span style="margin-right: 3px">PER</span>
            <span>DAY</span>
          </div>
        </div>
      </div>

    </div>

  </div>

</div>

