
<div class="most">

  <div class="most_label">
    <p class="most_label_3">3</p>
    <div class="most_label_text">
      <p>MOST POPULAR</p>
      <p>CHOICES IN YOUR AREA</p>
    </div>
  </div>

  <div class="most-text">
    <p>
      Candy canes topping dessert jelly beans pie jelly beans sweet roll.
      Toffee cotton candy cake chocolate cake. Bonbon gummi bears jelly-o
      bonbon fruitcake tootsie roll cake cookie gingerbread. Icing wafer pie
      pudding ice cream bonbon halvah bonbon topping. Donut halvah tiramisu
      bear claw tart.
    </p>
  </div>

  <div class="most-block">
  </div>

  <div class="most-red">

  </div>

  <div class="volga">
    <img src="../../../../assets/img/component%20(2).png">
  </div>

  <div class="zaz">
    <img src="../../../../assets/img/component%20(3).png">
  </div>

  <div class="mz">
    <img src="../../../../assets/img/component%20(1).png">
  </div>

  <div class="most-red-text">
    <span class="most-red-label">REDDEVIL</span>
    <span class="most-red-label">BLACKSTAR</span>
    <span class="most-red-label">PNEUMODADDY</span>
  </div>

  <div class="per">
    <div class="per_day">
      <span class="per_day_dol">$</span>
      <span class="per_day_180">230</span>
      <span class="per_day_PD">PER_DAY</span>
    </div>

    <div class="per_day">
      <span class="per_day_dol">$</span>
      <span class="per_day_180">300</span>
      <span class="per_day_PD">PER_DAY</span>
    </div>

    <div class="per_day">
      <span class="per_day_dol">$</span>
      <span class="per_day_180">180</span>
      <span class="per_day_PD">PER_DAY</span>
    </div>
  </div>



</div>
