.registration {
  height: 745px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.img-block {
  display: flex;
  max-width: 1291px;
  justify-content: flex-end;
}

.reg-form {
  width: 629px;
  display: grid;
  grid-template-columns: 74px 188px 183px 1fr ;
  grid-template-rows: 185px 324px 50px 15px 1fr;
  box-shadow: 0px 3px 6px #0000005F;
}

.reg-label {
  grid-row: 1/2;
  grid-column: 2/4;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 25px;
}

.red-label-V {
  font:bold 32px/59px Raleway;
  color: #EA2340;
  max-height: 42px;
}

.red-label-N {
  font: normal 16px/24px  'Raleway', sans-serif;
  color: #06263998;
}

.reg-alert{
  height: 90px;
  background-color: rgba(255,91,91,0.5);
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup-form {
  grid-row: 2/3;
  grid-column: 2/4;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sub-signup {
  width: 188px;
  height: 48px;
  margin-top: 43px;
  background: #EA2340 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000052;
  font: Bold 18px 'Raleway', sans-serif;
  color: #FFFFFF;
  border-width: 0;
  text-align: center;
}

.agree {
  grid-row: 4/5;
  grid-column: 2/4;
  display: flex;
}

.agree_s {
  width: 11px;
  height: 13px;
  color: #EA2340;
}

.agree_s input{
  border: #EA2340 1px solid;
  color: #EA2340;
}

.agree_text{
  display: flex;
  padding-left: 10px;
  align-self: center;
  color: #06263989;
}

.agree_text a {
  text-decoration: underline;
  color: #06263989;
  padding: 0 5px;
}





