

<div class="search">

  <div class="search-find">

    <div class="search-find-v">

      <div class="find-1">
        <i class='fas fa-search'></i>
        <span class="find-1-text">Search</span>
      </div>
      <div class="find-2">
        <a href="./system/searchFilters" class="fa fa-sliders-h" ></a>
      </div>
      <div class="find-3">
        <a href="./system/searchMap" class='fas fa-map-marker-alt'></a>
      </div>

      <div class="find-0"></div>
    </div>

    <form
      class="search-find-n"
      (change)="onSubmit()"
    >

      <div class="search-label">
          <span class="search-label-text">
            Find your car now!
          </span>
      </div>

      <div class="search-form-input">

        <label for="location"></label>
        <div class="d-block">
          <div class="d-text" style="width: 75px">
            Location
          </div>
          <input
            class="d-input"
            id="location"
            name="city"
            type="text"
            [ngModel]="reqData.city"
            (ngModelChange)="reqData.city = $event"
            required
          >
        </div>

        <label for="from"></label>
        <div class="d-block">
          <div class="d-text" style="width: 40px">
            From
          </div>
          <input
            class="d-input"
            id="from"
            type="datetime-local"
            [ngModel]="reqData.start_date | date: 'yyyy-MM-ddThh:mm'"
            (ngModelChange)="reqData.start_date = $event"
            name="start_date"
            required
          >
        </div>

        <label for="till"></label>
        <div class="d-block">
          <div class="d-text" style="width: 40px">
            Till
          </div>
          <input
            class="d-input"
            id="till"
            type="datetime-local"
            [ngModel]="reqData.end_date | date: 'yyyy-MM-ddThh:mm'"
            (ngModelChange)="reqData.end_date = $event"
            name="end_date"
            required
          >
        </div>
      </div>

      <div class="sort-label">
        <span>Sort by:</span>
      </div>

      <div class="price-range">
        <div class="price-range-l">Price range ($/per day):</div>
        <div class="price-range-r">{{reqData.min_amount}} - {{reqData.max_amount}}</div>
      </div>

      <div class="sort">
        <button class="sort-l" (click)="sortCarsPriceLowToHigh()">Price (low to high)</button>
        <button class="sort-r" (click)="sortCarsPriceHighToLow()">Price (high to low)</button>
      </div>

      <div class="line-line">
        <npn-slider
          [min]="10"
          [max]="300"
          (onChange)="onSliderChange($event)"
          [step]="5"
          [minSelected]="30"
          [maxSelected]="150"
          [showStepIndicator]="true"
        ></npn-slider>

      </div>

    </form>

  </div>

  <div
    *ngIf="isLoading"
    style="text-align: center"
    class="search-img"
  >
    <app-loading-spinner></app-loading-spinner>
  </div>

  <div style="overflow: auto" class="search-img" *ngIf="!isLoading">

      <div class="img-block">

        <div class="img-auto">
          <img src="../../../../assets/img/azlk.png">
        </div>

        <div class="img-text">
          <div class="img-lab">
            <span class="img-label">MERCEDES-BENZ G-CLASS</span>
            <span class="img-date">2019</span>
          </div>

          <div class="img-perDay">
            <span class="img-perDay-dol">$</span>
            <span class="img-perDay-price">180</span>
            <div class="img-perDay-perDay">
              <span style="margin-right: 3px">PER</span>
              <span>DAY</span>
            </div>
          </div>
        </div>

      </div>

      <div class="img-block">

        <div class="img-auto">
          <img src="../../../../assets/img/zaz.png">
        </div>

        <div class="img-text">
          <div class="img-lab">
            <span class="img-label">TESLA MODEL X</span>
            <span class="img-date">2018</span>
          </div>

          <div class="img-perDay">
            <span class="img-perDay-dol">$</span>
            <span class="img-perDay-price">180</span>
            <div class="img-perDay-perDay">
              <span style="margin-right: 3px">PER</span>
              <span>DAY</span>
            </div>
          </div>
        </div>

      </div>

      <div class="img-block">

        <div class="img-auto">
          <img src="../../../../assets/img/mb.png">
        </div>

        <div class="img-text">
          <div class="img-lab">
            <span class="img-label">MERCEDES-BENZ G-CLASS</span>
            <span class="img-date">2019</span>
          </div>
          <div class="img-perDay">
            <span class="img-perDay-dol">$</span>
            <span class="img-perDay-price">180</span>
            <div class="img-perDay-perDay">
              <span style="margin-right: 3px">PER</span>
              <span>DAY</span>
            </div>
          </div>
        </div>

      </div>

      <div class="img-block">

        <div class="img-auto">
          <img src="../../../assets/img/gaz.png">
        </div>

        <div class="img-text">
          <div class="img-lab">
            <span class="img-label">TESLA MODEL X</span>
            <span class="img-date">2018</span>
          </div>
          <div class="img-perDay">
            <span class="img-perDay-dol">$</span>
            <span class="img-perDay-price">180</span>
            <div class="img-perDay-perDay">
              <span style="margin-right: 3px">PER</span>
              <span>DAY</span>
            </div>
          </div>
        </div>

      </div>

      <div class="img-block">

        <div class="img-auto">
          <img src="../../../../assets/img/azlk.png">
        </div>

        <div class="img-text">
          <div class="img-lab">
            <span class="img-label">MERCEDES-BENZ G-CLASS</span>
            <span class="img-date">2019</span>
          </div>
          <div class="img-perDay">
            <span class="img-perDay-dol">$</span>
            <span class="img-perDay-price">180</span>
            <div class="img-perDay-perDay">
              <span style="margin-right: 3px">PER</span>
              <span>DAY</span>
            </div>
          </div>
        </div>

      </div>

      <div class="img-block">

        <div class="img-auto">
          <img src="../../../../assets/img/zaz.png">
        </div>

        <div class="img-text">
          <div class="img-lab">
            <span class="img-label">TESLA MODEL X</span>
            <span class="img-date">2018</span>
          </div>
          <div class="img-perDay">
            <span class="img-perDay-dol">$</span>
            <span class="img-perDay-price">180</span>
            <div class="img-perDay-perDay">
              <span style="margin-right: 3px">PER</span>
              <span>DAY</span>
            </div>
          </div>
        </div>

      </div>

  </div>

</div>
