<div class="search">

  <div class="search-find">

    <div class="search-find-v">

      <div class="find-1">
        <i class='fas fa-search'></i>
        <span class="find-1-text">Search</span>
      </div>
      <div class="find-2">
        <i class="fa fa-sliders-h" ></i>
      </div>
      <div class="find-3">
        <i class='fas fa-map-marker-alt'></i>
      </div>

      <div class="find-0"></div>
    </div>

    <div class="search-find-n">

      <div class="search-label">
          <span class="search-label-text">
            Find your car now!
          </span>
      </div>

<!--      <form oninput="result.value=parseInt(a.value)+parseInt(b.value)">-->
<!--        <input type="range" name="b" value="50" /> +-->
<!--        <input type="number" name="a" value="10" /> =-->
<!--        <output name="result">60</output>-->
<!--      </form>-->

<!--      <form action="/action_page.php" method="get">-->
<!--        Points:-->
<!--        <input type="range" name="points" min="0" max="10">-->
<!--        <input type="submit">-->
<!--      </form>-->

      <div class="search-form-input">
        <label>
          <input placeholder="Location">
        </label>

        <label>
          <input  placeholder="From">
        </label>

        <label>
          <input  placeholder="Till">
        </label>
      </div>

      <div class="sort-label">
        <span>Sort by:</span>
      </div>

      <div class="sort">
        <div class="sort-l">Price (low to high)</div>
        <div class="sort-r">Price (high to low)</div>
      </div>

      <div class="price-range">
        <div class="price-range-l">Price range ($/per day):</div>
        <div class="price-range-r">100 - 300</div>
      </div>

      <div class="line-line">
        <i class='fas fa-caret-up' style='font-size:40px'></i>
        <i class='fas fa-caret-up' style='font-size:40px'></i>

      </div>


    </div>

  </div>

  <div style="overflow: auto" class="search-img">

    <div class="img-block">

      <div class="img-auto">
        <img src="../../../../assets/img/azlk.png">
      </div>

      <div class="img-text">
        <div class="img-lab">
          <span class="img-label">MERCEDES-BENZ G-CLASS</span>
          <span class="img-date">2019</span>
        </div>

        <div class="img-perDay">
          <span class="img-perDay-dol">$</span>
          <span class="img-perDay-price">180</span>
          <div class="img-perDay-perDay">
            <span style="margin-right: 3px">PER</span>
            <span>DAY</span>
          </div>
        </div>
      </div>

    </div>

    <div class="img-block">

      <div class="img-auto">
        <img src="../../../../assets/img/zaz.png">
      </div>

      <div class="img-text">
        <div class="img-lab">
          <span class="img-label">TESLA MODEL X</span>
          <span class="img-date">2018</span>
        </div>

        <div class="img-perDay">
          <span class="img-perDay-dol">$</span>
          <span class="img-perDay-price">180</span>
          <div class="img-perDay-perDay">
            <span style="margin-right: 3px">PER</span>
            <span>DAY</span>
          </div>
        </div>
      </div>

    </div>

    <div class="img-block">

      <div class="img-auto">
        <img src="../../../../assets/img/mb.png">
      </div>

      <div class="img-text">
        <div class="img-lab">
          <span class="img-label">MERCEDES-BENZ G-CLASS</span>
          <span class="img-date">2019</span>
        </div>
        <div class="img-perDay">
          <span class="img-perDay-dol">$</span>
          <span class="img-perDay-price">180</span>
          <div class="img-perDay-perDay">
            <span style="margin-right: 3px">PER</span>
            <span>DAY</span>
          </div>
        </div>
      </div>

    </div>

    <div class="img-block">

      <div class="img-auto">
        <img src="../../../assets/img/gaz.png">
      </div>

      <div class="img-text">
        <div class="img-lab">
          <span class="img-label">TESLA MODEL X</span>
          <span class="img-date">2018</span>
        </div>
        <div class="img-perDay">
          <span class="img-perDay-dol">$</span>
          <span class="img-perDay-price">180</span>
          <div class="img-perDay-perDay">
            <span style="margin-right: 3px">PER</span>
            <span>DAY</span>
          </div>
        </div>
      </div>

    </div>

    <div class="img-block">

      <div class="img-auto">
        <img src="../../../../assets/img/azlk.png">
      </div>

      <div class="img-text">
        <div class="img-lab">
          <span class="img-label">MERCEDES-BENZ G-CLASS</span>
          <span class="img-date">2019</span>
        </div>
        <div class="img-perDay">
          <span class="img-perDay-dol">$</span>
          <span class="img-perDay-price">180</span>
          <div class="img-perDay-perDay">
            <span style="margin-right: 3px">PER</span>
            <span>DAY</span>
          </div>
        </div>
      </div>

    </div>

    <div class="img-block">

      <div class="img-auto">
        <img src="../../../../assets/img/zaz.png">
      </div>

      <div class="img-text">
        <div class="img-lab">
          <span class="img-label">TESLA MODEL X</span>
          <span class="img-date">2018</span>
        </div>
        <div class="img-perDay">
          <span class="img-perDay-dol">$</span>
          <span class="img-perDay-price">180</span>
          <div class="img-perDay-perDay">
            <span style="margin-right: 3px">PER</span>
            <span>DAY</span>
          </div>
        </div>
      </div>

    </div>

  </div>

</div>
