
.let-car{
  display: grid;
  grid-template-columns: 160px 329px 312px 89px;
  grid-template-rows: 104px 69px 155px 2370px 172px;
}

.let-car-header{
  grid-column: 2/3;
  grid-row:2/3 ;
  margin-bottom: 32px;
  text-align: left;
  font: bold 32px/59px 'Raleway', sans-serif;
  letter-spacing: 0;
  color: #EA2340;
  opacity: 1;
}

.let-car-text{
  grid-column: 2/4;
  grid-row: 3/4;
  margin-bottom: 58px;
  text-align: left;
  font: normal 16px/24px 'Raleway', sans-serif;
  letter-spacing: 0;
  color: #062639;
  opacity: 1;
}

.let-form {
  grid-column: 2/3;
  grid-row: 4/5;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.let-label{
  margin-bottom: 4px;
  text-align: left;
  font: normal 24px/24px Raleway, sans-serif;
  letter-spacing: 0;
  color: #062639;
  opacity: 1;
}

 textarea{
   width: 730px;
   height: 310px;
   border: 1px solid #5F727E;
   padding-left: 6px;
   padding-top: 23px;
   text-align: left;
   color: #6C7E8B;
   margin-top: 20px;
 }

 .input-search{
   margin-top: 20px;
 }

 select {
   font: Bold 24px/24px 'Raleway', sans-serif;
   opacity: 1;
   display: flex;
   align-items: flex-end;
   color: #062639;
 }

 .d-block{
   margin-top: 20px;
 }

 button{
   margin-top: 185px;
   background: #EA2340 0% 0% no-repeat padding-box;
   box-shadow: 0px 3px 6px #00000052;
   width: 187px;
   height: 48px;
   text-align: center;
   border-width: 0;
   font: Bold 18px Raleway;
   color: #FFFFFF;
 }


